.landing {
  background-color: #faf9f6;
  word-spacing: .5rem;
}
.landing-photo{
  background-image: url('../../../public/landingphoto2.jpeg');;
  background-size:100vw;
  background-attachment: fixed;
  min-height: calc(75vh);
  margin: 0 5rem;
}
.landing-photo:nth-child(2){
  background-image: url('../../../public/landingphoto1.jpeg');;
}
.landing-projects {
  display: flex;
  margin-right:10rem;
}
.landing-projects-content{
  display: grid;
  font-size: 1.5rem; 
  margin-left:10rem;
  max-width: 60%;
}
.landing-projects-content h1 {
  margin-top: 3rem;
  text-transform: uppercase;
}
.landing-projects-button{
  color:black;
  background-color: white;
  height: 4rem;
  width: 10rem;
  margin: 3rem 0 10rem 10rem;
  padding: 10px 30px 10px 30px;
}